<h1 class="center">Create Your Very Own Muppet Show!</h1>
<div>
<div class="center">
<img src="assets/muppetshow.jpg">
</div>
<p class='h4'>The Muppets want you to get the gang back together, and create a Muppet show of your very own, with a crew hand picked by you!</p>
</div>