<!DOCTYPE html>
<html>
  <head>   
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    
    <title>MuppetShowCreator</title>
 

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Muppet Show Creator</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbarNavAltMarkup">
     
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/users/home">Home</a>
          <a class="nav-item nav-link" href="/muppets">Cast Members</a>
          <a class="nav-item nav-link" href="/muppets/new">Hire a Muppet</a>
        </div>
        <div class="nav navbar-nav ms-auto">
          <a class="nav-item nav-link" href="<%logout_path%>">Logout</a>
        </div>

        <div class="nav navbar-nav ms-auto">
          <a class="nav-item nav-link" href="/signup">Sign Up</a>
          <a class="nav-item nav-link" href="/login">Log In</a>
        </div>

      </div>
    </div>
  </nav>
  <div class="wrapper">
    <%= yield %>
  </body>
</html>
